*.xlsx
model/
CKIP_RESULT
data/
chinese_wwm_pytorch/
data.zip
__pycache__/
*.zip
Dockerfile
*/__pycache__
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
*.csv
wav/
.ipynb_checkpoints
*.wav
*.txt
*.tsv
*.csv
api/asr_result/inference
*.ark
*.scp
*.json
*.xlsx
numpy_IR/
*.npy